@model Restaurante.Models.ClienteModel

@{
    ViewData["Title"] = "Crear Cliente";
}

<h2>Crear Cliente</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="mb-3">
                <label asp-for="Cedula" class="form-label"></label>
                <input asp-for="Cedula" class="form-control" placeholder="Ingrese la cédula" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Nombre" class="form-label"></label>
                <input asp-for="Nombre" class="form-control" placeholder="Ingrese el nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Apellido" class="form-label"></label>
                <input asp-for="Apellido" class="form-control" placeholder="Ingrese el apellido" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" placeholder="ejemplo@correo.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Telefono" class="form-label"></label>
                <input asp-for="Telefono" class="form-control" placeholder="Ingrese el teléfono" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>

  
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
