@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center mb-5">
    <h1 class="display-4 fw-bold">Bienvenido a mi Restaurante Doña Petrona</h1>
    <p class="lead">Sistema de gestión de órdenes, clientes y menús</p>
</div>


